# Ignore Git files
.git

# Ignore Yarn and Node dependency directories
.yarn
!.yarn/releases
!.yarn/plugins
node_modules

# Ignore Typescript files
packages/**/dist

# Ignore Next.js files
packages/ui/.next
