# Ignore Mac DS_Store files
.DS_Store

# Ignore Yarn and Node dependency directories
.yarn/*
!.yarn/releases/
node_modules/

# Ignore Typescript files
dist/
*.tsbuildinfo

# Ignore Jest test coverage
coverage/

# Ignore per-IDE storage
.idea/