# Mark .pnp.* as binary to prevent git from trying to merge it and mark as
# linguist-vendored to hide it from GitHub's language detection
/.pnp.* binary linguist-generated=true

# Hide .yarn from GitHub's language detection
/.yarn/** linguist-vendored=true
