@font-face {
  font-family: Prompt;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Prompt-Regular.ttf) format("truetype");
}

@font-face {
  font-display: swap;
  font-family: CalSans-SemiBold;
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/b8c456ff9fd96840cdca.woff) format("woff"),
    url(/fonts/7f8fc3a6ae17686d2e4b.otf) format("opentype");
}

@font-face {
  font-display: swap;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/4ee96395e07a04577aab.ttf) format("truetype");
}

@font-face {
  font-display: swap;
  font-family: DM Sans;
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/bfe023d2d0f8f749d319.ttf) format("truetype");
}

@font-face {
  font-display: swap;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/150680530af9dd9fd00b.ttf) format("truetype");
}

@font-face {
  font-display: swap;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/c423ce2dc1d85bc50799.ttf) format("truetype");
}

@font-face {
  font-display: swap;
  font-family: DM Sans;
  font-style: italic;
  font-weight: 700;
  src: url(/fonts/4d8bbef07cd86c84abbf.ttf) format("truetype");
}
