@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .container {
    @apply mx-auto max-w-4xl pr-[var(--wrapper-padding-right)] pl-[var(--wrapper-padding-left)];
  }

  .medium-container {
    @apply mx-auto max-w-5xl pr-[var(--wrapper-padding-right)] pl-[var(--wrapper-padding-left)];
  }

  .big-container {
    @apply mx-auto max-w-7xl pr-[var(--wrapper-padding-right)] pl-[var(--wrapper-padding-left)];
  }
}

/* Global Reset */
@import "./reset.css";

/* Global Design Tokens */
@import "./tokens.css";

/* Global Animations */
@import "./animations.css";

/* Global Styles */
body {
  @apply bg-mauve-mauve1 p-0 text-[0.9375rem] font-normal leading-[calc(0.9375rem_*_1.4)] tracking-[-0.009em] text-black dark:bg-black dark:text-white;
}

em,
i {
  @apply font-em text-[calc(1em_+_2px)] font-normal italic leading-none tracking-normal;
}

@supports (font-variation-settings: "wght" 450) {
  body,
  em,
  i {
    @apply font-[450];
  }
}

#nprogress {
  @apply pointer-events-none;
}
#nprogress::after {
  content: "";
  @apply fixed top-0 left-0 h-1 w-full bg-transparent;
}

#nprogress .bar {
  @apply fixed top-0 left-0 z-[2000] h-1 w-full bg-purple-purple9 dark:bg-purpleDark-purple9;
}

.text-gradient-util {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.marquee {
  @apply !min-w-[unset];
}

@media all and (max-width: 1023px) {
  [data-radix-popper-content-wrapper] {
    @apply !fixed !top-auto !bottom-0 !w-full !min-w-full !transform-none transition;
  }
}
