.rsd__react-select-datepicker {
  gap: 10px;
  display: flex;
}
.rsd__react-select-datepicker select:focus,
select:active {
  outline: none;
  border: none;
}
.rsd__react-select-datepicker select:-moz-focusring,
select::-moz-focus-inner {
  outline: none;
}

.rsd__react-select-datepicker label {
  color: #8899a6;
  font-size: 12px;
}

.rsd__react-select-datepicker .rsd__select-container-month,
.rsd__react-select-datepicker .rsd__select-container-year,
.rsd__react-select-datepicker .rsd__select-container-day {
  border: 1px solid rgba(58, 68, 76, 0.32);
  background-color: #18090e;
  padding: 9px 8px;
  border-radius: 5px;
}

.rsd__react-select-datepicker .rsd__select-month,
.rsd__react-select-datepicker .rsd__select-day,
.rsd__react-select-datepicker .rsd__select-year {
  padding: 0;
  border: none;
  outline: none;
  background-color: inherit;
}
.rsd__react-select-datepicker .rsd__select-container-month .rsd__select-month {
  background-position: right;
  width: 120px;
}

*:focus {
  outline: none;
}
