.rdrDefinedRangesWrapper {
  background-color: black !important;
  border-right: 1px solid #d6409f !important;
}
.rdrDateDisplayWrapper,
.rdrMonthAndYearWrapper,
.rdrMonths,
.rdrDays,
.rdrDayDisabled {
  background-color: black !important;
}
.rdrStartEdge,
.rdrEndEdge,
.rdrInRange {
  color: #d6409f !important;
}

.rdrDayNumber span {
  color: #fff !important;
}
.rdrDayToday .rdrDayNumber span:after {
  background: #ffffff !important;
}

.rdrDayDisabled span {
  color: #aaaaaa !important;
}

.rdrMonthPicker,
.rdrYearPicker,
select {
  color: #fff !important;
}

.rdrDayPassive span {
  color: #767677 !important;
}

.rdrStaticRange {
  background-color: black !important;
  border-bottom: 1px solid black !important;
}

.rdrStaticRange:hover {
  color: #d6409f;
}
.rdrStaticRangeSelected {
  color: #d6409f !important;
}
