.month-year-picker-wrapper .month-year-picker {
  margin-top: 0px;
}

.month-year-picker-wrapper .year-picker > span {
  color: #9c4dc1 !important;
  font-weight: 700;
}

.month-year-picker-wrapper .month-year-picker .month-picker > div > div {
  border-radius: 8px !important;
  color: white !important;
  font-weight: bold;
  background-color: #2c282d !important;
}

.month-year-picker-wrapper
  .month-year-picker
  .month-picker
  > div
  > div:not(selected):hover {
  background-color: #4f4d4f !important;
  transition: 0.1s all linear;
}

.month-year-picker-wrapper
  .month-year-picker
  .month-picker
  > div
  > div.selected {
  color: white !important;
  background: #9c4dc1 !important;
}

.month-year-picker {
  margin: auto;
  width: 400px;
  margin-top: 55px;
}

.month-year-picker .year-picker {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.month-year-picker .year-picker span {
  font-size: 25px;
  color: #5186ed;
  text-align: center;
  width: 100%;
  display: block;
}

.month-year-picker .year-picker .controls {
  position: absolute;
  right: 0;
  width: 80px;
  top: 0;
  height: 100%;
  display: flex;
}

.month-year-picker .year-picker .controls .fa {
  margin: auto;
  cursor: pointer;
  font-size: 25px;
}

/* .month-year-picker .year-picker .controls .fa &.disabled {
  cursor: default;
  opacity: 0.3;
} */

.month-year-picker .month-picker {
  position: relative;
  width: 100%;
}

.month-year-picker .month-picker > div {
  position: relative;
  width: 100%;
  margin: auto;
  display: block;
}

.month-year-picker .month-picker > div > div {
  background-color: #ddd;
  color: cornflowerblue;
  height: 55px;
  margin: 10px;
  width: 20%;
  display: inline-flex;
  cursor: pointer;

  /* &.selected {
    background-color: #5186ed;
    color: #ffffff;
  } */
}

.month-year-picker .month-picker > div > div span {
  margin: auto;
  font-size: 15px;
  font-style: normal;
}
