.swiper-button-prev,
.swiper-button-next {
  color: #fff !important;
  transform: scale(0.6, 0.9);
}
.swiper-slide {
  height: auto !important;
}

.swiper-button-next .swiper-rtl .swiper-button-next {
  position: absolute;
  right: -11px !important;
}
.swiper-button-prev .swiper-rtl .swiper-button-prev {
  position: absolute;
  left: -11px !important;
}

.swiper-button-prev:after {
  padding: 0 30px;
}

.swiper-button-next:after {
  padding: 0 30px;
}

.swiper-button-next .swiper-rtl .swiper-button-next::after {
  padding: 0 30px;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  pointer-events: fill !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  width: auto;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
