.video-js .vjs-big-play-button {
  background: rgba(21, 21, 21, 0.85);
  height: 76px;
  width: 110px;
  border: none;
  border-radius: 25px;
  opacity: 0.8;
}
.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
  padding-top: 16px;
  font-size: 44px;
  height: 76px;
  width: 110px;
}
