#profileTabs{
    background: #1F1422;
    border: 1px solid #3b3b3b;
    border-right: none;
    border-left: none;
    margin-top: -30px;
    margin-bottom: -30px;
    height: 60px;
    z-index: 10;
    backdrop-filter: none;

    background: rgba(34, 21, 39, 1) !important;
}

@supports (backdrop-filter: blur(24px)) {

    #profileTabs{
        backdrop-filter: blur(24px);
        background: none !important;
    }
}